<div th:fragment="productform">

	<div class="alert alert-success" role="alert" th:if="${save != null && save && message != null && message != ''}" th:text="${message}"> 
	</div>
	
	<div class="alert alert-danger" role="alert" th:if="${save != null && !save && message != null && message != ''}" th:text="${message}">
	</div>
	
	
	<form th:action="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.save')}" th:object="${product}" method="post" >
	
		<div class="row">
			
			<div th:replace="~{components/components::fieldInput(#{product.id},'number','id',true,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{product.name},'text','name',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{product.price},'number','price',false,4)}"></div>
			<div th:replace="~{components/components::selectorform('category.id',#{product.category},12,${categories})}"></div>
			<div th:replace="~{components/components::fieldTextarea(#{product.shortDescription},'shortDescription',false,12)}"></div>
			<div th:replace="~{components/components::fieldTextarea(#{product.description},'description',false,12)}"></div>
			<div th:replace="~{components/components::fieldImage(#{product.imageprin},'idimage',*{imageprin},'idbutton','imageprin','idinputfile','inputfield','iderror', 4)}"></div>
			
		</div>
	
		
		<div class="col-sm-12" style="text-align:right; margin-top: 2em;">
			<a th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list')}" class="btn btn-secondary" th:text="#{cancel}">Cancelar</a>
			<button type="submit" class="btn btn-primary" th:text="#{save}">Guardar</button>
		</div>

	</form>
	
	
	<div th:replace="~{components/components::formimage('idform', 'idinputfile', 'inputfield', 'idimage', 'iderror')}"></div>


	


</div>