<div th:fragment="header">
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:text="${title}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${#strings.equals(menu,'client')?'active':'noactive'}" aria-current="page" th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list')}" th:text="#{menu.client}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  th:classappend="${#strings.equals(menu,'category')?'active':'noactive'}"  th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list')}" th:text="#{menu.category}">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${#strings.equals(menu,'product')?'active':'noactive'}"  th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list')}" th:text="#{menu.product}">Productos</a>
        </li>
       
      </ul>
       <span class="language" data-language="es">ES</span>
       <span class="language" data-language="en">EN</span>
    </div>
  </div>
</nav>


 <script type="text/javascript">
	 
	  function changeParamLanguage(url, language){
		    var otherParams = "";
		    var tempArray = url.split("?");
		    var baseURL = tempArray[0];
		    if(tempArray.lenght > 1){
		    	var additionalURL = tempArray[1];
			    var temp = "";
			    if (additionalURL) {
			        tempArray = additionalURL.split("&");
			        for (var i=0; i<tempArray.length; i++){
			            if(tempArray[i].split('=')[0] != 'language'){
			            	otherParams += temp + tempArray[i];
			                temp = "&";
			            }
			        }
			    }

			    var paramsLanguage = temp + "" + "language=" + paramVal;
			    return baseURL + "?" + otherParams + paramsLanguage;
		    } else {
		    	return baseURL + "?language=" + language;
		    }
		    
		}
	 
	 	$(function(){
	 		$(".language").on('click',function(evt){
	 			var language = $(this).attr('data-language');

	 			window.location.href = changeParamLanguage(window.location.href,language);
	 			
	 			

	 		});
	 	});
	 </script>
	 
	 
</div>


