<div th:fragment="categoryform">

	<div class="alert alert-success" role="alert" th:if="${save != null && save && message != null && message != ''}" th:text="${message}"> 
	</div>
	
	<div class="alert alert-danger" role="alert" th:if="${save != null && !save && message != null && message != ''}" th:text="${message}">
	</div>
	
	
	<form th:action="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.save')}" th:object="${category}" method="post" >
	
		<div class="row">
			
			<div th:replace="~{components/components::fieldInput(#{category.id},'number','id',true,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{category.name},'text','name',false,4)}"></div>
			<div th:replace="~{components/components::fieldTextarea(#{category.description},'shortDescription',false,12)}"></div>
			<div th:replace="~{components/components::fieldImage(#{category.imageprin},'idimage',*{imageprin},'idbutton','imageprin','idinputfile','inputfield','iderror', 4)}"></div>
			
		</div>
		
		<div class="col-sm-12" style="text-align:right; margin-top: 2em;">
			<a th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list')}" class="btn btn-secondary" th:text="#{cancel}"></a>
			<button type="submit" class="btn btn-primary" th:text="#{save}"></button>
		</div>

	</form>
	
	
	<div th:replace="~{components/components::formimage('idform', 'idinputfile', 'inputfield', 'idimage', 'iderror')}"></div>


	


</div>